.navbar-default .navbar-nav>li>a {
  color: black;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: #000;
  background-color: #ecebeb;
}
body{
  padding-top: 90px;
  font-family: 'Kanit', sans-serif;
}
.item-img{
  width: 100%;
  max-height: 300px;
  height: auto;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #333;
  background-color: #f5f4f500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
  border: 0.5px solid grey;
  border-radius: 3px;

}
textarea{
  resize: vertical;

}



.btn-danger:hover {
  color: #fff;
  background-color: rgba(193,8,65,.8);
  border-color: rgba(193,8,65,.8);
}
input{

}
.form-control{
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px #fff, inset 0 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  font-size: 14px;
  height: 40px;
  line-height: 22px;
  margin-bottom: 22px;
  min-height: 40px;
  padding: 8px 12px;
  width: 100%;
}
h1.title{
  font-size: 45px;
  color: #333;

}
h2.title{
  font-size: 40px;
  color: #333;
}
nav li{
  padding-bottom: 20px;
}
nav li a{
  font-size: 15px;
}

.btn-danger {
  color: #f9f9f9;
  background-color: #c10841;
  border-color: #c10841;
}

.navbar-nav>li{
  padding-right:  3px;
}
ul.dashboard>li {
  background-color: rgba(0, 0, 0, 0.05);
  width: 250px;

}
ul.dashboard>li>a {
  color: black;
  font-size: 16px;
}
ul.dashboard>li :hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #c10841;
}
.detail-process {

  text-align: center;
}
.detail-process a{
  text-decoration: none;
  color: black;
}
.detail-process img{
  max-width: 75px;
  width: auto;
  max-height: 75px;
  height: auto;
}
.item-img{
  width: 100%;
  max-height: 250px;
  height: auto;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  padding: -3px;
}

.item-box{
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.item-box:hover{
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-0.25em);
}

.review{
  position: relative;
  background: #c10841;
  border-radius: 10px;
}
.review :after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 0;
  height: 0;
  border: 0.594em solid transparent;
  border-top-color: #c10841;
  border-bottom: 0;
  margin-left: -0.594em;
  margin-bottom: -0.594em;
}
.review-1{
  position: relative;
  background: #6dd940;
  border-radius: 10px;


}
.review-1 :after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 0;
  height: 0;
  border: 0.594em solid transparent;
  border-top-color: #6dd940;
  border-bottom: 0;
  margin-left: -0.594em;
  margin-bottom: -0.594em;
}

.item-review{
  padding: 10px;
}
.item-review i{

  font-size: 18px;
  color: white;
}
.checked {
  color: orange;
}
/*-- footer ---*/
footer.nb-footer {
  background: #222;
  border-top: 4px solid #b78c33;
}
footer.nb-footer .about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center;
}
footer.nb-footer .about p {
  font-size: 13px;
  color: #999;
  margin-top: 30px;
}
footer.nb-footer .about .social-media {
  margin-top: 15px;
}
footer.nb-footer .about .social-media ul li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: #b78c33;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
footer.nb-footer .about .social-media ul li a:hover {
  background: #b78c33;
  color: #fff;
  border-color: #b78c33;
}
footer.nb-footer .footer-info-single {
  margin-top: 30px;
}
footer.nb-footer .footer-info-single .title {
  color: #aaa;
  text-transform: uppercase;
  font-size: 16px;
  border-left: 4px solid #b78c33;
  padding-left: 5px;
}
footer.nb-footer .footer-info-single ul li a {
  display: block;
  color: #aaa;
  padding: 2px 0;
}
footer.nb-footer .footer-info-single ul li a:hover {
  color: #b78c33;
}
footer.nb-footer .footer-info-single p {
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
}
footer.nb-footer .copyright {
  margin-top: 15px;
  background: #111;
  padding: 7px 0;
  color: #999;
}
footer.nb-footer .copyright p {
  margin: 0;
  padding: 0;
}
